@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth !important;
  background-color: #1A103D ;
}

.grid-background {
  background-image: 
    linear-gradient(to right, #8b5cf6 1px, transparent 1px),
    linear-gradient(to bottom, #8b5cf6 1px, transparent 1px);
  background-size: 60px 25px;
}


/* Custom tailwind styles */
@layer base {
  .btn-gradient {
    @apply !bg-gradient !bg-[length:300%_300%] hover:saturate-[1.2] shadow duration-100 !border-0 !border-transparent !bg-transparent animate-shimmer disabled:!bg-none disabled:!bg-gray-500/30 !text-white;
  }
  .btn {
    @apply !capitalize;
  }
}